
<ion-content>
  <div class="container">
    <div class="logo">
      <img src="assets/images/bus-logo.png" alt="TrackBus">
    </div>
    <form>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" placeholder="Ejemplo@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" placeholder="********"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit">Acceder</ion-button>
    </form>

    <div class="forgot-password">
      <ion-text>
        <ion-button fill="clear" href="/forgot-password">¿Te olvidaste la contraseña?</ion-button>
      </ion-text>
    </div>

    <div class="social-media">
      <ion-text>
        Redes Sociales
      </ion-text>
      <ion-button fill="clear" href="#">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button fill="clear" href="#">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>